// scss-lint:disable ColorVariable

@import "functions";

// color pallette
$base03: #002b36;
$base02: #073642;
$base01: #586e75;
$base00: #657b83;
$base0: #839496;
$base1: #93a1a1;
$base2: #eee8d5;
$base3: #fdf6e3;
$yellow: #b58900;
$orange: #cb4b16;
$red: #dc322f;
$magenta: #d33682;
$violet: #6c71c4;
$blue: #268bd2;
$cyan: #2aa198;
$green: #859900;

// default color scheme
$bg_color: if($variant == "dark", $base02, $base2);
$fg_color: if($variant == "dark", $base1, $base01);
$base_color: if($variant == "dark", $base02, $base2
$text_color: if($variant == "dark", $base1, $base01);
$selected_bg_color: $cyan;
$selected_fg_color: $base2;
$tooltip_bg_color: $base02;
$tooltip_fg_color: $base1;

// dark colors
$dark_bg_color: $base02;
$dark_fg_color: $base1;

// shadows
$dark_shadow: #000;
$light_shadow: #fff;

// white and black
$black: #000;
$white: #fff;

// misc colors used by gtk+
$info_fg_color: $base1;
$info_bg_color: $base02;
$warning_fg_color: $base3;
$warning_bg_color: $yellow;
$question_fg_color: $base1;
$question_bg_color: $base02;
$error_fg_color: $base3;
$error_bg_color: $red;
$link_color: $magenta;
$success_color: $green;
$warning_color: $yellow;
$error_color: $red;

$toolbar_bg_color: $bg_color;
$toolbar_fg_color: $fg_color;

$titlebar_bg_color: $dark_bg_color;
$titlebar_fg_color: $dark_fg_color;

$menu_bg_color: $dark_bg_color;
$menu_fg_color: $dark_fg_color;

$menubar_bg_color: $dark_bg_color;
$menubar_fg_color: $dark_fg_color;

$panel_bg_color: $dark_bg_color;
$panel_fg_color: $dark_fg_color;

$osd_base: $dark_bg_color;
$osd_fg: $dark_fg_color;
$osd_bg: alpha($osd_base, 0.8);

$lightdm_bg_color: $dark_bg_color;
$lightdm_fg_color: $dark_fg_color;

$wm_bg: $titlebar_bg_color;
$wm_border_focused: transparent;
$wm_border_unfocused: transparent;
$wm_title_focused: mix($titlebar_fg_color, $titlebar_bg_color, .1);
$wm_title_unfocused: mix($titlebar_fg_color, $titlebar_bg_color, .4);
$wm_icons_focused: mix($titlebar_fg_color, $titlebar_bg_color, .1);
$wm_icons_focused_prelight: $selected_bg_color;
$wm_icons_focused_pressed: shade($selected_bg_color, .8);
$wm_icons_unfocused: mix($titlebar_fg_color, $titlebar_bg_color, .4);
$wm_icons_unfocused_prelight: $selected_bg_color;
$wm_icons_unfocused_pressed: shade($selected_bg_color, .8);

// widget styles
$roundness: 2px;
$spacing: 5px;
$gradient: 0;
$contrast: .8;
